In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-15 14:05:28--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.26.156.215
Connecting to github.com (github.com)|20.26.156.215|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250115%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250115T140528Z&X-Amz-Expires=300&X-Amz-Signature=34c540ca07ba9527eed001206a04508dcabf4d4f5e3e15500d4933089e81519e&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-15 14:05:28--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250115%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250115T140528Z&X-Amz-Expires=300&X-Amz-Signature=34c540ca07ba9527eed001206a04508dcabf4d4f5e3e15500d4933089e81519e&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-01-15 14:05:29 (66.1 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12322/12322]

In [4]:
taxi_zones_df = pd.read_csv('taxi_zone_lookup.csv')
print(taxi_zones_df.shape)
taxi_zones_df.head()

(265, 4)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [6]:
print(pd.io.sql.get_schema(taxi_zones_df, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [7]:
taxi_zones_df.to_sql(name='zones', con=engine, if_exists='replace')

265